*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;

}
.navbar{
    background: black;
}
h1{
    text-align: center;
}
.bodycontent{
    max-width: 650px;
    margin: auto;
    height: 99vh;
}
th{
    padding-right: 100px;
    padding-top: 15px;
}
tbody, td, tfoot, th, thead, tr{
    padding-bottom: 15px;
}
.btn{
    margin-right: 15px;
}