<div class="container">
    <div class="row">
        <div class="card" style="width: ;18rem">
            <img src="{{categoriy.img}}" alt="" class="card-img-top">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content. z</p>
                <a href="/api/categories/update/{{categoriy.id}}" class="btn btn-primary"> Edit</a>
                <a href="/api/categories/delete/{{id}}" class="btn btn-outline-danger"> Delete</a>
            </div>
        </div>
    </div>
</div>