<div class="container">
    <div class="row">
        <div class="card" style='width: 18rem; margin-top:25px' >
            <img class="card-img-top" src="{{img}}" alt="">
            <div class="card-body">
                <p class="card-text">
                     Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="/api/categories/update/{{id}}">Edit</a>
            </div>
        </div>
    </div>
</div>